/messages.mo
*~
*.DS_Store
#*
.idea/*
config.php
feed-icons/*
cache/*/*
cache_disk/*
lock/*
tags
plugins/fever
cache/htmlpurifier/*/*ser
lib/htmlpurifier/library/HTMLPurifier/DefinitionCache/Serializer/*/*ser
web.config
